---
layout: home
title: Home

osxfuse:
    version: 2.6.4
    description:
        - Mac OS X 10.5 or later
        - Intel or PowerPC
    date: 01 Apr 2014
    url: "http://sourceforge.net/projects/osxfuse/files/osxfuse-2.6.4/osxfuse-2.6.4.dmg/download"

sshfs:
    version: 2.5.0
    description:
        - Mac OS X 10.5 or later
        - Intel or PowerPC
    date: 03 Feb 2014
    url: "https://github.com/osxfuse/sshfs/releases/download/osxfuse-sshfs-2.5.0/sshfs-2.5.0.pkg"
    gh_asset_id: 70509
---
<h2>What is FUSE for OS X?</h2>
<p>
    FUSE for OS X allows you to extend OS X's native file handling capabilities via third-party file systems. OSXFUSE is a successor to <a href="http://code.google.com/p/macfuse/">MacFUSE</a>, which has been used as a software building block by dozens of products, but is no longer being maintained.
</p>
<h3>Features</h3>
<p>
    As a user, installing the OSXFUSE software package will let you use any third-party file system written atop OSXFUSE or MacFUSE, if you choose to install the MacFUSE compatibility layer.
</p>
<p>
    As a developer, you can use the OSXFUSE SDK to write numerous types of new file systems as regular user space programs. The content of these file systems can come from anywhere: from the local disk, from across the network, from memory, or any other combination of sources. Writing a file system using OSXFUSE is orders of magnitude easier and quicker than the traditional approach of writing in-kernel file systems. Since OSXFUSE file systems are regular applications (as opposed to kernel extensions), you have just as much flexibility and choice in programming tools, debuggers, and libraries as you have if you were developing standard OS X applications.
</p>
<h3>How It Works</h3>
<p>
    In more technical terms, OSXFUSE implements a mechanism that makes it possible to implement a fully functional file system in a user-space program on OS X. It provides multiple APIs, one of which is a superset of the <a href="http://fuse.sourceforge.net/">FUSE API</a> (file system in user space) that originated on Linux. Therefore, many existing FUSE file systems become readily usable on OS X.
</p>
<p>
    The OSXFUSE software consists of a kernel extension and various user space libraries and tools. It comes with C-based and Objective-C-based SDKs. If you prefer another language (say, Python or Java), you should be able to create file systems in those languages after you install the relevant language bindings yourself.
</p>
<p>
    The <a href="https://github.com/osxfuse/filesystems">filesystems</a> repository contains source code for several exciting and useful file systems for you to browse, compile, and build upon, such as sshfs, procfs, AccessibilityFS, GrabFS, LoopbackFS, SpotlightFS, and YouTubeFS.
</p>
<h2>Why choose OSXFUSE?</h2>
<ul>
    <li>OSXFUSE is a successor to <a href="http://code.google.com/p/macfuse/">MacFUSE</a>, which has been unmaintained since 2009. It shares most of its source code with MacFUSE.</li>
    <li>OSXFUSE features a compatibility mode for file systems that have been built for MacFUSE. It can be a drop-in replacement for MacFUSE.</li>
    <li>OSXFUSE supports Mac OS X 10.5 and later (Intel and PowerPC architecture). It is fully compatible with 64-bit kernels and OS X 10.7.</li>
    <li>OSXFUSE is open source and under active development.</li>
</ul>
