---
layout: release
title: Release of OSXFUSE 2.6.0

release:
    name: OSXFUSE 2.6.0
    description: 
        - Mac OS X 10.5 or later
        - Intel or PowerPC
        - "SHA1: dc267c2e64fa49e5ea6cffd79c762c216a6ef1df"
    url: http://sourceforge.net/projects/osxfuse/files/osxfuse-2.6.0/osxfuse-2.6.0.dmg/download
---
<h3>New Features</h3>
<ul>
    <li>Added experimental support for OS X 10.9 (Developer Preview Build 13A476u). Tracked as issue #88: <a href="https://github.com/osxfuse/osxfuse/issues/88">"OSXFUSE refuses to install on OS X 10.9 Mavericks"</a></li>
    <li>Added support for Xcode 4.6 on OS X 10.7 and 10.8.</li>
    <li>Added support for Xcode 5.0 and Apple LLVM 5.0 on OS X 10.8.</li>
</ul>
