---
layout: release
title: Release of OSXFUSE 2.6.4

release:
    name: OSXFUSE 2.6.4
    description: 
        - Mac OS X 10.5 or later
        - Intel or PowerPC
        - "SHA1: f1411713e7562b379ffe46370bdc7965b02d30ec"
    url: http://sourceforge.net/projects/osxfuse/files/osxfuse-2.6.4/osxfuse-2.6.4.dmg/download
---
<h3>New Features</h3>
<ul>
    <li>Added support for case insensitive FUSE file systems. The macro <code>FUSE_ENABLE_CASE_INSENSITIVE</code> can be used in the FUSE init callback to mark the volume as case insensitive. See <a href="https://github.com/osxfuse/filesystems/commit/d9a598638a14f27ba6050aaeee4cae96580a3341">loopback.c (commit d9a5986)</a> for details.<br/><br/>Please note that <code>FUSE_ENABLE_CASE_INSENSITIVE</code> does not make the FUSE volume case insensitive. It only tells the system that the volume should be treated as such.</li>
</ul>
<h3>Changes</h3>
<ul>
    <li>Added support for Xcode 5.1</li>
    <li>Xcode 5.1 does no longer support Objective-C Garbage Collection. Therefore Garbage Collection support has been disabled for OSXFUSE.framework. As a result the framework is now incompatible with applications using Objective-C Garbage Collection.</li>
</ul>