<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }} - FUSE for OS X</title>
        <script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
    </head>
    <body>
        <style type="text/css" scoped="scoped">
            @import url('/static/base.css') screen;
        </style>
        <div id="header">
            <a href="/">
                <h1>
                    <span id="title">FUSE for OS X</span>
                    <br>
                    <span id="subtitle">The easiest and fastest way to create file systems for OS X</span>
                </h1>
            </a>
            <ul id="menu">
                <li><a href="https://github.com/osxfuse">Project on GitHub</a></li><li><a href="https://sourceforge.net/projects/osxfuse/files/">Downloads</a></li><li><a href="https://github.com/osxfuse/osxfuse/wiki">Wiki</a></li><li><a href="https://groups.google.com/forum/#!forum/osxfuse-group">Google Group</a></li><li><a href="https://github.com/osxfuse/osxfuse/issues">Issue Tracker</a></li>
            </ul>
        </div>
        <div id="content">
            {{ content }}
        </div>
        <div id="sponsors" class="footer">
            <div>
                <h2>Sponsors of the FUSE for OS X project</h2>
                <a href="http://www.wuala.com"><img src="/static/wuala_logo.png" alt="Wuala by LaCie"></a>
                <a href="https://www.boxcryptor.com"><img src="/static/boxcryptor_logo.png" alt="BoxCryptor"></a>
            </div>
        </div>
        <div id="legal" class="footer">
            <div>
                <a href="https://raw.github.com/osxfuse/osxfuse/osxfuse-2/LICENSE.txt">OSXFUSE License</a>
                <br>
                &copy; 2011-2014 Benjamin Fleischer
                <br>
                &copy; 2007-2009 Google Inc.
                <br>
                Mac, Mac OS and OS X are trademarks of Apple Inc., registered in the U.S. and other countries. Other trademarks are the property of their respective owners.
            </div>
        </div>
    </body>
</html>
